<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Add Programmers</title>

<script type="text/javascript">
    function validateForm()
    {
    var x=document.forms["programmerForm"]["programmer_names"].value;
    if (x==null || x=="")
      {
      alert("Name Must Not Be Blank");
      return false;
      }
    }
</script>

</head>
<h2><b>Add/Delete Programmers on Your Pair Stairs</b></h2>
<body>
<form name="programmerForm" method="POST" onsubmit="return validateForm()" >
    {% csrf_token %}
    <textarea id="programmer_names" name='programmer_names' label="programmer_names" ></textarea>
    <input id="add_programmer" type='submit' value='Add'/>
</form>
<h3>List Of Programmer Names</h3>
<div id='list_programmer_names'>
    {% for programmer in programmers %}
        <div>
        <b class="name">{{ programmer.name }}</b> <a id='delete_programmer' href="/delete_programmer/{{ programmer.id }}/">Delete</a>
        </div>
</div>
    {% endfor %}
<div>
    <a id='delete_programmers' href="/delete_programmers" type='submit' >Delete All Programmers</a>
</div>

<div>
    <a id = 'pairstairs' href="/pairstairs" type='submit'>Create Pair Stairs</a>
</div>
</body>
</html>