<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Pair Stairs</title>

</head>
<h1>Pair Stairs</h1>
<body>
     <table border = '1'>
   {% for programmer in programmers %}
       <tr>
           <td class = "programmer1" id = "programmer_row" align="center"><font size=5>{{ programmer.name }}</font></td>
       {% for pair in pairs %}
           {% if pair.pair2 == programmer %}
               <td align="center">
               <a class="pair_count" id="pair_count" href="/add_count/{{ pair.pair1_id }}/{{ pair.pair2_id }}"><font size=5>{{ pair.count }}</font></a></td>
           {% endif %}
       {% endfor %}
           <td class = "programmer2"><font size=5>{{ programmer.name }}</font></td>
       </tr>
   {% endfor %}
   </table>
<div>
    <a onclick="return confirm_count()"  id='reset_counts' href="/reset_counts" type='submit'>Reset Counts</a>
</div>
<div>
    <a id='back_to_add_programmers' href="/add_programmer/">Back To Add Programmers</a>
</div>
</body>
</html>